<div class="footer-container">
  <div class="container">
    <div class="content">
      <!-- Logo -->
      <div class="logo">
        <img src="../../../../../assets/images/icons/small-ev-logo.png" alt="">
      <p>For Languages And Translation</p>
      </div>
      <!-- Icons -->
      <div class="icons">
        <fa-icon [icon]="faFacebook"></fa-icon>
        <fa-icon [icon]="faInstagram"></fa-icon>
        <fa-icon [icon]="faTwitter"></fa-icon>
        <fa-icon [icon]="faYoutube"></fa-icon>
      </div>

      <!-- Copyright -->
      <div class="copyright">
        <p>&copy; 2023 Copyright <a>English Vessel</a></p>
        <p>Powered by: <a>Moustafa Elkady</a></p>
      </div>

    </div>
  </div>
</div>
