<div class="slider-container">
  <div class="container">
    <div class="slider">
      <h2><fa-icon [icon]="leftQoutes"></fa-icon> Actual Customers Reviews <fa-icon [icon]="rightQoutes"></fa-icon></h2>
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../../../assets/images/icons/user.png" class="d-block w-100" alt="..." />
            <h3>Moustafa Elkady</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae rem fugit nam nobis ducimus, sint fugiat molestias, culpa accusantium id necessitatibus eligendi soluta tenetur impedit autem neque quo, aliquam quidem?</p>
          </div>
          <div class="carousel-item">
            <img src="../../../../../assets/images/icons/user.png" class="d-block w-100" alt="..." />
            <h3>Mahmoud Wannan</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae rem fugit nam nobis ducimus, sint fugiat molestias, culpa accusantium id necessitatibus eligendi soluta tenetur impedit autem neque quo, aliquam quidem?</p>
          </div>
        </div>
        <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
        <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      </div>
    </div>
  </div>
</div>
