<div class="apply-container">
  <div class="row">
    <div class="col-md-6 box-image">
      <div class="box-entier" routerLink="/study">
        <img src="../../../../../assets/images/icons/apply.png" alt="" />
        <h4>Apply Now</h4>
      </div>
    </div>
    <div class="col-md-6 box-content">
      <span>The Best Choice</span>
      <h3>We Build Future with Education</h3>
      <p>
        But I must explain to you how all this mistaken idea of denouncing
        pleasure and praising pain was born and I will give you a complete
        account of the system, and expound the actual teachings of the great
        explore.
      </p>
      <ul>
        <li>
          <fa-icon [icon]="child"></fa-icon> Kids Courses
          <p>
            Professional degrees are degrees recognized by the US Department of
            Education as necessary for subsequent licensing.
          </p>
        </li>
        <li>
          <fa-icon [icon]="adult"></fa-icon> Adult Courses
          <p>
            Professional degrees are degrees recognized by the US Department of
            Education as necessary for subsequent licensing.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
