<app-breadcrumbs [crumbsConfig]="crumbsConfig"></app-breadcrumbs>
<div class="why-choose">
  <div class="container">
    <span>Why choose English Vessel ?</span>
    <div class="row">
      <div class="col-md-6">
        <div class="left">
          <ul>
            <li>
              <div class="row">
                <div class="col-md-2 text-cnter">
                  <fa-icon [icon]="pen"></fa-icon>
                </div>
                <div class="col-md-10">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Tenetur eligendi quas.
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-md-2">
                  <fa-icon [icon]="lamp"></fa-icon>
                </div>
                <div class="col-md-10">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Tenetur eligendi quas.
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="row">
                <div class="col-md-2">
                  <fa-icon [icon]="award"></fa-icon>
                </div>
                <div class="col-md-10">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Tenetur eligendi quas.
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="rigth">
          <img src="../../../assets/images/background-courses.jpeg" />
        </div>
      </div>
    </div>
  </div>
</div>
<app-testimonials></app-testimonials>
