@import "../shared/styles/variables";

.why-choose {
  padding: 40px 0;
  span {
    display: block;
    text-align: center;
    font-size: 40px;
    padding: 20px;
  }
  .left {
    padding: 20px 0;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 30px;
        fa-icon {
          color: $mainColor;
          font-size: 40px;
          display: block;
          text-align: center;
        }

        p {
          width: 95%;
        }
      }
    }
  }

  .rigth {
    img {
      width: 100%;
    }
  }
}
