<div class="box-container">
  <div class="top-section">
    <div class="top-section">
      <h5 class="service-name">Translation</h5>
    </div>
  </div>
  <div class="body-section">
    <ul>
      <li>The template will be installed on </li>
      <li>The template will be  on your</li>
      <li>The  will be installed on your</li>
      <li>The template will be installed on your</li>
    </ul>
    <div class="actions">
      <button routerLink="/contact"><fa-icon [icon]="email"></fa-icon>Order Now</button>
    </div>
  </div>
</div>
