<div class="features-container">
  <div class="container">
    <div class="features">
      <div class="row">
        <div class="col-md-4 box">
          <fa-icon [icon]="course"></fa-icon>
          <h3>Online Courses</h3>
          <p>
            Choose from hundreds of free training courses, or pay to get
            certified to complete a course or specialization.
          </p>
        </div>
        <div class="col-md-4 box">
          <fa-icon [icon]="lumb"></fa-icon>
          <h3>Our Mission</h3>
          <p>
            Developing strong vision and mission statements can help
            stakeholders in your school reach such a common understanding.
          </p>
        </div>
        <div class="col-md-4 box">
          <fa-icon [icon]="stamp"></fa-icon>
          <h3>Professional Certificate</h3>
          <p>
            Join the millions of students around the world who are already
            learning! Find an experienced and suitable instructor only for you.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
